.inputTodo{
    position: relative;
    display: flex;
    align-items: center;
}
.inputTodo>input{
    width: 100%;
    border: none;
    font-size: 18px;
    height: 100%;
    background: rgba(17, 17, 17, 0.7);
    padding: 0.25em 1em;
    outline: none;
    border-radius: 5px 40px 40px 5px;
}
.inputTodo>button{
    position: absolute;
    right: 0.5em;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

